.navbar-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.navbar-custom .navbar-brand {
    color: white;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar-link:hover, .navbar-link:focus {
    color: #1ED760;
}

.navbar-link-logout {
    color: #d32f2f;
}

.navbar-link-logout:hover, .navbar-link-logout:focus {
    color: #9a2424;
}

.navbar-link-admin {
    color: goldenrod;
}

.navbar-link-admin:hover, .navbar-link-admin:focus {
    color: darkgoldenrod;
}

.navbar-link-fav {
    color: red;
    transition: all 0.2s ease;
}

.navbar-link-fav:hover, .navbar-link-fav:focus {
    color: red;
}

.navbar-link-fav:hover i::before, .navbar-link-fav:focus i::before {
    content: "\f415";
}
